<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    This is admin page

    <table>
        <thead>
            <tr>
                {% for head in header %}
                <th>{{head}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <input type="checkbox">
                    <td>{{user.First_name}}</td>
                    <td>{{user.Email}}</td>
                    <td>{{user.Phone}}</td>
                    <td>{{user.Gender}}</td>
                    <td>{{user.Course}}</td>
                    <td>{{user.Batch}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button name="approve"> Approve</button>
    <button name="reject">Reject</button>
</body>
</html>