{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'Css/change_password.css' %}">
</head>
<body>
   <form action="change_password" method="post">
    {% csrf_token %}
    <label for="username">UserName</label>
    <input type="text" id="user"name='username' placeholder="Enter your Username">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Enter your password">
    <label for="confirm-password">Confirm-password</label>
    <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm your password">
    <p id="message"></p>
    <input type="submit" onclick="checkpassword()" value="SUBMIT"/>

   </form> 

   <script>
    function checkpassword(){
        let password = document.getElementById("password").value;
        let confirmpassword = document.getElementById("confirm-password").value;
        console.log(password,confirmpassword);
        let message = document.getElementById("message");
        if(password.length != 0){
            if(password == confirmpassword){
                message.textContent="password match";
            }
            else{
                message.textContent="password don't match";
                message.style.backgroundColor="#ff4d4d";
            }
        }
    else {
            alert("password can't be empty!");
            message.textContent="";
        }
        
    }
   </script>
</body>
</html>