<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
display: inline-block;
border-radius: 12px;
width: 400px;
height: 350px;
margin-top: -194px;
margin-right: 170px;
border-radius: 12px;
background-color: white;
width: 390px;
height: 355px;
text-align: center;
}
    </style>
</head>
<body>
    <form action="forget_password" method="post">
        {% csrf_token %}
    <div class="container">
        <h2> Forget password </h2>
        <label for="username">username</label>
        <input type="text" name="username" id="username">
        <input type="submit" value="SUBMIT">


    </div>
    </form>
</body>
</html>