{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="{% static 'Css/Login.css' %}">
    
</head>
<body>
    <div class="textbox">
        <h1>
            Vcube
        </h1>
        <h4> Welcome to Vcube Online Examination app</h4>

    </div>
    <div class="container">
        <div class="form">
            <form class="action"action="" method="post">
                {% csrf_token %}
            <input type="text" class="text" placeholder="Enter Your Email"><br>
            <input type="password" class="text" placeholder="Enter your Password"><br>
            <button type="submit" >Log In</button>
        </form>
            <p><a href="#"> forgot password? </a></p>
            <div class="btn">
                <button><a href="{% url 'register' %}">Create New Account</a></button>
            </div>
        </div>
    </div>
</body>
</html>